#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2
    chroot	/var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group	haproxy
    daemon
    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

defaults
    mode                    tcp
    log                     global
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout queue           45s
    timeout connect         5s
    timeout client          1m
    timeout server          1m
    timeout check           10s
    maxconn                 3000
#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend  main *:3306
##############################################################################################################################
    bind {{ ansible_all_ipv4_addresses[0] }}:3306
##############################################################################################################################
    default_backend             app
#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
backend app
    balance     roundrobin
    server  app1 {{ hostvars[groups.mariadb[0]].ansible_host }}:3306 maxconn 151 check
    server  app2 {{ hostvars[groups.mariadb[1]].ansible_host }}:3306 maxconn 151 check
    server  app3 {{ hostvars[groups.mariadb[2]].ansible_host }}:3306 maxconn 151 check
